<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body class="container">

    <header>
      <%- include('./partials/header'); %>
    </header>

    <main>
      <div class="jumbotron">
        <% if (typeof heading !== "undefined") { %>
          <h2> <%= heading %> </h2>
        <% } %>
        <% if (typeof description !== "undefined") { %>
          <h3> <%= description %> </h3>
        <% } %>
        <% if (typeof disclaimer !== "undefined") { %>
          <h4> <%= disclaimer %> </h4>
        <% } %>
        <% if (typeof page !== "undefined") { %>
          <%- include('./partials/' + page); %>
        <% } %>
      </div>
    </main>

    <footer>
      <%- include('./partials/footer'); %>
    </footer>

  </body>
</html>